<!DOCTYPE html>
<html ng-app="App">
<head>
    <meta charset="utf-8" />
    <title>金融风控云平台</title>
    <link rel="shortcut icon" href="/static/assets/images/ico.ico" />
    <link href="/static/assets/css/main.css" type="text/css" rel="stylesheet" />
    <base href='/'>
</head>
<body>
    <div ui-view style="width: 100%;"></div>
    <script src="/static/vender/echarts/echarts.min.js"></script>
    <!-- <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.3&key=a8a36b2864878cb93a43246e00a4e4f6"></script> -->
    <script type="text/javascript" src="/static/vender/jquery/jquery.3.1.1.min.js"></script>
    <script type="text/javascript" src="/static/vender/jquery/moxie.js"></script>
    <script type="text/javascript" src="/static/vender/jquery/plupload.full.min.js"></script>
    <script type="text/javascript" src="/static/vender/jquery/qiniu.min.js"></script>
    <script type="text/javascript" src="/static/vender/angular/angular.1.4.8.min.js"></script>
    <script type="text/javascript" src="/static/vender/ui_bootstrap/ui_bootstrap_tpls.2.1.2.js"></script>
    <script type="text/javascript" src="/static/vender/angular_plugins.js"></script>
    <script type="text/javascript" src="/static/assets/js/components/helper.js"></script>
    <script type="text/javascript" src="/static/assets/js/components/const.js"></script>
    <script type="text/javascript" src="/static/assets/js/components/double_date_picker.js"></script>
    <script type="text/javascript" src="/static/assets/js/components/pagination.js"></script>
    <script type="text/javascript" src="/static/assets/js/components/filters.js"></script>
     <script type="text/javascript" src="/static/assets/js/components/zsselect.js"></script>
     <script type="text/javascript" src="/static/assets/js/components/zsselect_edit.js"></script>
     <script type="text/javascript" src="/static/assets/js/components/circle_grade.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/core.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/signin.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/anti_fraud.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/monitor.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/merchant.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/intercalate.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/application_manage.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/trade.js"></script>
    <script type="text/javascript" src="/static/assets/js/modules/overdue.js"></script>
</body>
</html>
