<div class="anti-list-container merchant-list">
	<div class="list-header clearfix">
		<div class="list-header-l">
			<h2 class="">产品管理</h2>
		</div>
		<div class="list-header-r clearfix">
			<div class="phone-l merchant-phone-l clearfix" >
				<button ng-disabled="!vm.buttonInfo.operate.show" ui-sref="Intercalate.productModify" class="power-btn common-sucess-btn btn monitor-add-btn merchant-list-search" ng-class="{'disabled-btn':!vm.buttonInfo.operate.show}"><i class="icon-xinzeng"></i>新增产品</button>
			</div>
		</div>
	</div>

	<div class="list-table"　ng-if="!vm.isSearching">
		<table class="common-table credit-table merchant-table" ng-if="vm.commodityList.length > 0&&!vm.isSearching">
			<thead>
				<tr>
					<th>产品编号</th>
					<th>产品名称</th>
					<th>创建时间</th>
					<th>创建人</th>
					<th>状态</th>
					<th>操作</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="goodsItem in vm.commodityList">
					<td ng-bind="goodsItem.id | emptyFilter"></td>
					<td ng-bind="goodsItem.name | emptyFilter"></td>
					<td ng-bind="goodsItem.createTime | emptyFilter| date:'yyyy-MM-dd HH:mm:ss'"></td>
					<td ng-bind="goodsItem.sysUserName | emptyFilter"></td>
					<td class="{{goodsItem.statusClass}}" ng-bind="goodsItem.statusText | emptyFilter"></td>
					<td class="">
						<a class="check-detail" href="/intercalate/product_detail?id={{goodsItem.id}}">查看详情</a>
					</td>
				</tr>
			</tbody>
		</table>
		
		<div ng-if="vm.commodityList.length === 0" class="empty-info">
			<span class="empty-img"></span>
			<span class="empty-text">暂无产品信息，赶快去添加吧！</span>
		</div>
	</div>

	<div class="result-body loader-box" ng-if="vm.isSearching">
		<div class="bg-white">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
				<div class="rect6"></div>
				<div class="rect7"></div>
				<div class="rect8"></div>
			</div>
			<span>查询中，请耐心等待...</span>
		</div>
	</div>
	<!-- <div ng-if="vm.commodityList.length > 0" class="pagination-ng" pagination-directive page-index="vm.postParams.page" page-total="vm.pageTotal">
	</div> -->
	<pagination-counts-directive ng-if="vm.commodityList.length > 0" page-index="vm.postParams.page" total="vm.pagination.total" page-total="vm.pagination.pageTotal" counts="vm.postParams.count" counts-array="vm.pageCountsGoods">
</pagination-counts-directive>
</div>
