<div class="anti-list-container loan-list">
	<div class="list-header clearfix">
		<div class="list-header-l">
			<h2 class="">逾期管理</h2>
		</div>
		<div class="list-header-r   clearfix">
			<div class="phone-l loan-phone-l clearfix" >
				<label class="common-search-box ">
					<input type="text" placeholder="请输入订单名或姓名或手机号或身份证号" ng-model="vm.postParams.serchNum" ng-keyup="vm.searchRepayment($event)">
				</label>
				<span ng-click="vm.searchRepayment()" class="loan-search-btn"><i class="icon-fangdajing"></i><span>搜索</span>
			</span>
			</div>
		</div>
	</div>
	<div class="list-table">
        <table class="common-table credit-table" ng-if="vm.overdueList.length > 0&&!vm.isSearching">
			<thead>
				<tr>
					<th>订单号</th>
					<th>姓名</th>
                    <th>身份证号</th>
                    <th><span class="exponent-item">
						申请日期
						<i class="trangle-down" ng-class="{'active': vm.checkSortActive('createSort','up')}" ng-click="vm.changeListSort(vm.exponentSort.up,vm.OverdueSortObj.createSort)"></i>
						<i class="trangle-up" ng-class="{'active': vm.checkSortActive('createSort','down')}" ng-click="vm.changeListSort(vm.exponentSort.down,vm.OverdueSortObj.createSort)"></i>
					</span></th>
                    <th>商户名称</th>
					<th>借款到账金额</th>
                    <th>借款期数</th>
                    <th>当前期数</th>
                    <th>逾期期款总额</th>
                    <th>
                        <span class="exponent-item">
    						最长逾期天数
    						<i class="trangle-down" ng-class="{'active': vm.checkSortActive('overdueSort','up')}" ng-click="vm.changeListSort(vm.exponentSort.up,vm.OverdueSortObj.overdueSort)"></i>
    						<i class="trangle-up" ng-class="{'active':  vm.checkSortActive('overdueSort','down')}" ng-click="vm.changeListSort(vm.exponentSort.down,vm.OverdueSortObj.overdueSort)"></i>
    					</span>
                    </th>
					<th>借款罚金总额</th>
                    <th>操作</th>
				</tr>
			</thead>
			<tbody>
                <tr ng-repeat="overdue in vm.overdueList">
                    <td ng-bind="overdue.orderId |emptyFilter"></td>
                    <td ng-bind="overdue.name |emptyFilter">陈灿冰</td>
                    <td ng-bind="overdue.idcard |emptyFilter">12345678911</td>
                    <td ng-bind="overdue.createTime | emptyFilter | date:'yyyy-MM-dd'">123456789123456789</td>
                    <td ng-bind="overdue.merchantName |emptyFilter">1234567891</td>
                    <td ng-bind="overdue.accountIntoMoneyw |emptyFilter">陈灿冰</td>
                    <td ng-bind="overdue.instalments |emptyFilter">1000元</td>
                    <td ng-bind="overdue.currentPeriods |emptyFilter">1202元</td>
                    <td ng-bind="overdue.currentMoney |emptyFilter">12345678911</td>
                    <td ng-bind="overdue.overduePeriodsDays |emptyFilter">放款失败</td>
                    <td ng-bind="overdue.overduePeriodsFine |emptyFilter">查看详情</td>
                    <td><a class="change-state-button" href="/overdue/detail?id={{overdue.id}}&orderId={{overdue.orderId}}">查看详情</a></td>
                </tr>
			</tbody>
		</table>
		<div class="result-body loader-box" ng-if="vm.isSearching">
			<div class="bg-white">
				<div class="spinner">
					<div class="rect1"></div>
					<div class="rect2"></div>
					<div class="rect3"></div>
					<div class="rect4"></div>
					<div class="rect5"></div>
					<div class="rect6"></div>
					<div class="rect7"></div>
					<div class="rect8"></div>
				</div>
				<span>查询中，请耐心等待...</span>
			</div>
		</div>
		<div ng-if="vm.overdueList.length === 0&&!vm.isSearching" class="empty-info">
			<span class="empty-img"></span>
			<span class="empty-text" ng-bind="vm.emptyText"></span>
		</div>
</div>
<pagination-counts-directive ng-if="vm.overdueList.length > 0"  page-index="vm.postParams.page" total="vm.pagination.total" page-total="vm.pagination.pageTotal" counts="vm.postParams.count" counts-array="vm.pageCountsArray">
</pagination-counts-directive>
</div>
