<div class="anti-result-container loan-manage">
	<div class="search-header loan-detail-header">
		<div class="link">
			<a href="/antifraud/loan_list">还款管理</a>&nbsp;&gt;
			<span>借款详情</span>
		</div>
		<h2>
		    借款详情
			<!-- <a href="/api/loan/export/agreement/?id={{vm.getParams.id}}" target="_blank" class="btn loan-detail-export"><i class="icon-daochu"></i>导出数据</a> -->
			<a ng-click="vm.contactEvent('download')" ng-if="vm.loanDetail.signId" target="_blank" class="btn loan-detail-export contact-button"><i class="icon-icon_xiazai"></i>下载合同</a>
			<!-- <a ng-if="vm.contractSwitchStatus" target="_blank" ng-click="vm.contactEvent('preview')" class="btn loan-detail-export contact-button"><i class="icon-chakan"></i>预览合同</a> -->
			<a ng-if="vm.loanDetail.signId" ng-click="vm.contactEvent('see')" target="_blank"  class="btn loan-detail-export contact-button"><i class="icon-yulan"></i>查看合同</a>
		</h2>
	</div>
	<!-- <div class="result-body" ng-if="!vm.isSearching"> -->
	<div class="result-body">
		<div class="content">
			<ul>
				<li>
					<span class="name">借款人姓名:</span>
					<span class="value" ng-bind="vm.loanDetail.name | emptyFilter"></span>
				</li>
				<li>
					<span class="name">手机号码:</span>
					<span class="value" ng-bind="vm.loanDetail.telphone | emptyFilter"></span>
				</li>
                <li>
					<span class="name">身份证号码:</span>
					<span class="value" ng-bind="vm.loanDetail.idCard | emptyFilter"></span>
				</li>
                <li>
					<span class="name">订单号:</span>
					<span class="value" ng-bind="vm.loanDetail.idCard | emptyFilter"></span>
				</li>
                <li>
                   <span class="name">借款日期:</span>
                   <span class="value" ng-bind="vm.loanDetail.idCard | emptyFilter"></span>
               </li>
				<li>
					<span class="name">借记卡:</span>
					<span class="value" ng-bind="vm.loanDetail.idCard | emptyFilter"></span>
				</li>
				<li>
					<span class="name">购买商品:</span>
					<span class="value" ng-bind="vm.loanDetail.intoNumber | emptyFilter"></span>
				</li>
				<li>
					<span class="name">商户名称:</span>
					<span class="value" ng-bind="vm.loanDetail.product | emptyFilter"></span>
				</li>
				<li>
					<span class="name">还款方式:</span>
					<span class="value" ng-bind="vm.loanDetail.applyMoneys"></span><span ng-if="vm.loanDetail.applyMoneys !== '--'">元</span>
				</li>
				<li>
					<span class="name">借款金额:</span>
					<span class="value" ng-bind="vm.loanDetail.instalments | emptyFilter"></span>
				</li>
				<li>
					<span class="name">分期期数:</span>
					<span class="value" ng-bind="vm.loanDetail.repayNumber"></span><span ng-if="vm.loanDetail.repayNumber !== '--'">元</span>
				</li>
				<li>
					<span class="name">月还款金额:</span>
					<span class="value loan-status" ng-bind="vm.showLoanStatus | emptyFilter"></span>
				</li>
                <li>
					<span class="name">借款到账金额:</span>
					<span class="value loan-status" ng-bind="vm.showLoanStatus | emptyFilter"></span>
				</li>
                <li>
					<span class="name">订单状态:</span>
					<span class="value loan-status" ng-bind="vm.showLoanStatus | emptyFilter"></span>
				</li>
			</ul>
		</div>
        <div class="plan">
            <h2>还款计划</h2>
            <table>
                <thead>
                    <th>期数</th>
                    <th>还款日</th>
                    <th>当期期数</th>
                    <th>逾期天数</th>
                    <th>逾期罚金（元）</th>
                    <th>待还金额</th>
                    <th>还款状态</th>
                    <th>已还金额（元）</th>
                    <th>还款时间</th>
                    <th>操作</th>
                </thead>
                <tbody>
                    <td>1</td>
                    <td>1234567891</td>
                    <td>2500</td>
                    <td>4</td>
                    <td>100</td>
                    <td>2600</td>
                    <td>已结清</td>
                    <td>2600</td>
                    <td>2356784561</td>
                    <td>结清</td>
                </tbody>
            </table>
        </div>
	</div>

	<div class="result-body"  ng-if="vm.isSearching">
		<div class="bg-white">
			<div class="spinner">
				<div class="rect1"></div>
				<div class="rect2"></div>
				<div class="rect3"></div>
				<div class="rect4"></div>
				<div class="rect5"></div>
				<div class="rect6"></div>
				<div class="rect7"></div>
				<div class="rect8"></div>
			</div>
			<span>添加中，请耐心等待...</span>
		</div>
	</div>
</div>

<script type="text/ng-template" id="loanDetailTemplate">
	<div class="m-modal">
		<div class="m-bar">
			<div class="m-tl"><i class='icon-tanhao'></i></div>
		</div>
		<div class="m-cnt">
			<p ng-bind="vm.ensureInfo"></p>
		</div>
		<div class="m-btn">
			<a href="javascript:;" class="m-y-btn" ng-click="vm.ensure()">确认</a>
			<a href="javascript:;" class="m-no-btn" ng-click="closeThisDialog()">取消</a>
		</div>
	</div>
</script>
<script type="text/ng-template" id="JS_imgAlert">
		<div class="alert-img-exit" ng-click="closeThisDialog()"></div>
        <img ng-src="{{vm.src}}" alt=""/>
</script>
