<header class="index-header">
    <div class="header-center clearfix">
        <div class="l-header clearfix">
            <a href="#" class="logo">
                <img src="/static/assets/images/logo.516aa4b2.png"/>
                <h1 style="display: none">卧龙大数据</h1>
                <span style="display: none">WOLONG BIG DATA</span>
            </a>
            <span class="divice" style="display: none"></span>
            <h2 class="system-name" style="display: none">反欺诈系统</h2>
        </div>
        <div class="r-header">
            <span>您好，<span ng-bind="vm.userName"></span></span>
            <a href="javascript:;" id="singOut" ng-click="vm.signOut()">退出</a>
        </div>
    </div>
</header>
<div class="main-container clearfix">
    <nav class="left-bar" area-frozen top="0px" fix="left">
        <ul class="left-menu">
            <li ng-class="{'active': $state.is('AntiFraud.statistics')}">
                <a href="/antifraud/statistics?antiPeriod=week&monitorPeriod=week&checkPeriod=week" class="parent-menu"><i class="icon-menu-fengxianqushi"></i>风险趋势</a>
            </li>
            <li ng-class="{'active': $state.is('AntiFraud.search') || $state.is('Monitor.credit.intoPieces')  || $state.is('Monitor.credit.presentation') || $state.is('AntiFraud.list') || $state.is('Monitor.journal') || $state.is('Monitor.intoPieces')}">
                <a href="/antifraud/list" class="parent-menu"><i class="icon-menu-zonghefanqizha"></i>信用评估</a>
            </li>
            <li ng-class="{'active': $state.is('Monitor.search') || $state.is('Monitor.result') || $state.is('Monitor.list')}">
                <a href="/monitor/list" class="parent-menu"><i class="icon-menu-daizhongjiankong"></i>贷后监控</a>
            </li>
            <li ng-class="{'active': $state.is('Application.list') || $state.is('Application.Modify')}">
                <a href="/application/list" class="parent-menu"><i class="icon-menu_shengqingbiao"></i>申请表管理</a>
            </li>
            <li ng-class="{'active': $state.is('Merchant.list')|| $state.is('Merchant.detail')||$state.is('Merchant.create')||$state.is('Merchant.modify')}">
                <a href="/merchant/list" class="parent-menu"><i class="icon-icon-shanghuguanli"></i>商户管理</a>
            </li>

            <li ng-class="{'active': $state.is('AntiFraud.loanManageList') || $state.is('AntiFraud.loanManageDetail')}">
                <a href="/antifraud/loan_list" class="parent-menu"><i class="icon-imenu-jiekuangaunli"></i>借款管理</a>
            </li>
            <li class="have-sub-menu" ng-class="{'active': $state.includes('Intercalate.*')}">
                <a class="parent-menu"  ng-click="vm.intercalateClick()"><i class="icon-menu-xitongguanli" ></i>系统管理<i class="jiantou" ng-class="{'icon-icon-jiantouright':!vm.intercalateSlideDown,'icon-icon-jiantoudown':vm.intercalateSlideDown}"></i></a>
                <div class="left-menu-slidebar"  ng-if="vm.intercalateSlideDown" >
                    <a class="sub-menu" ng-class="{'active': $state.is('Intercalate.conmpanyInfor')}" href="/intercalate/conmpany_infor"><span></span>公司信息</a>
                    <a class="sub-menu" ng-class="{'active': $state.is('Intercalate.reset')}" href="/intercalate/reset"><span></span>重置密码</a>
                </div>
            </li>

            <!-- <li>
                <a href="/life_cycle/customer_potential" class="parent-menu"><i class=""></i>规则引擎</a>
            </li>
            <li>
                <a href="/life_cycle/customer_potential" class="parent-menu"><i class=""></i>数据API</a>
            </li> -->

        </ul>
    </nav>
    <div class="right-bar">
        <div ui-view class="right-bar-inner">
        </div>
    </div>
</div>


<script type="text/ng-template" id="JS_errAlertTemplate">
    <div class="m-modal">
        <div class="m-bar">
            <div class="m-tl"><i class='icon-tanhao'></i></div>
        </div>
        <div class="m-cnt">
            <p ng-bind="internetErrMsg" class="font-16"></p>
        </div>
        <div class="m-btn">
            <a href="javascript:;" class="m-y-btn" ng-click="closeThisDialog()">确认</a>
        </div>
    </div>
</script>
<script type="text/ng-template" id="JS_errConfirmTemplate">
    <div class="m-modal">
        <div class="m-bar">
            <div class="m-tl"><i class='icon-tanhao'></i></div>
        </div>
        <div class="m-cnt">
            <p ng-bind="internetErrMsg" class="font-16"></p>
        </div>
        <div class="m-btn">
            <a href="javascript:;" class="m-y-btn" ng-click="confirm()">确认</a>
        </div>
    </div>
</script>
